<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		{{#each sideMenu}}
		  {{["name"]}} 
		  <dl id="{{code}}">
		  	<dt class="{{selected}}"><i class="Hui-iconfont">&#xe616;</i> {{name}}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
		  	<dd style="{{isBlock}}">
		  		<ul>
		  			{{#each children}}
						  <li class="{{isCurrent}}">
		  			  	<a href="{{code}}" title="{{name}}">{{name}}</a>
		  			  </li>
						{{/each}}
		  		</ul>
		  	</dd>
		  </dl>
		{{/each}}
	</div>
</aside>
<div class="dislpayArrow hidden-xs">
	<a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>

<script>
  
</script>